@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/helpers";
@import "utils/fonts";
@import "utils/typography";

*, *:before, *:after { box-sizing: border-box; }

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.index-page{
}

.page-link{
  font-family:'Heebo-Regular';
  color: $primary-color;
  @include hover($primary-color){
    text-decoration: underline;
  }
}

.italic{
  font-family: 'PT-Serif';
  font-size:22px;
  line-height:24px;
  font-style: italic;
  color: #727272;
}

.top-line{
  @include line(50%, -30px);
  margin-bottom:70px;
}

.btn{
  @include btn(#fff, $primary-color){
    padding: 16px 78px;
    margin-left: 20px;
  }
  @include hover($primary-color){
    background-color: #fff;
  }

}

.block{
  padding: 15px;
  background-color: #fff;
  box-shadow: rgba(0,0,0, .16) 0 0 20px;
}

.text-center{
  text-align: center;
}

.responsive-img{
  @include size(100%);
}

.block-text{
  @include line(50%, -30px);
  position: relative;
  margin: auto 50px;
  margin-bottom: 30px;
}

.heading-wrap{
  margin-bottom: 50px;
}

.btn-center-wrap{
  margin-top:75px;
  width:100%;
  text-align: center;
  position: relative;

  .btn{
    display: inline-block;
    @include btn($primary-color, #fff, $primary-color);
    @include hover(#fff){
      background-color: $primary-color;
    }
  }
}

.card-text{
  position: relative;
  padding: 25px 0 25px 25px;
  @include line;
}

.blog-img-wrap{
  @include size(100%, 250px);
}

section{
  padding:100px 0;

  &.subscribe{
    padding:70px 0;
    background-color: $primary-color;
    color: #fff;
    text-align: center;
  }

  &.package{
    background-color: #F7F7F7;
  }
  
  &.testimony{
    background-image: url($imgPath + 'testimony.jpg');
    background-position: center center;
    background-size: cover;
    color: #fff;
  }
}

.about{

  .about-text{

    .italic{
      padding:0 10%;
    }
    .card-text{
      margin:0 15% 0 10%;
      @include line($width: 100px);
    }

  }
  .about-media{
    @include size(100%);
    min-height: 670px;
    position: relative;
    display: block;

    .img-wrap{
      @include size(460px, 380px);
      position: absolute;
      right: 0;
      top: 0;
      z-index:2;

      &:last-child{
        top: 100px;
        left: -100px;
        z-index:1;
      }
    }
  }

}

.subscribe{

  .subscribe-form{
    margin-top: 20px;

    input{
      @extend %text-field;
    }


  }

}

.trips{
  background-image: url($imgPath + 'map.png');
  background-position: top center;
  background-repeat:no-repeat;

  .block{
    margin-bottom:30px;

    .block-inner{
      @include size(100%, 450px);
      position: relative;

      .trip-info{
        @include size(50%, 100%);
        position: absolute;
        text-align: center;
        top: 0;
        right: 0;
        z-index: 1;
        @include overlay('before', rgba(255,255,255, .85));

        .top-line{
          &:before{
            display: none;
          }
        }

        .trips-info-inner{
          padding: 30px;
          position: absolute;
          width: 100%;
          top:0;
          left: 0;

        }
      }
    }

    .trip-img-wrap{
      @include size(100%, 290px)
    }
  }



}

.blog{
  .block{
    margin-bottom: 30px;
    .card{
      h3{
        font-size:28px;
      }
    }
  }
  .page-link{
    float: right;
  }
}

.testimony{
  position: relative;
  @include overlay('before', rgba(238,38,85,.7));

  .top-line{
    &:before{
      background-color: #fff;
    }
    p, h2{
      color: #fff;
    }
  }

  .carousel{
    position: relative;
    width: 100%;

    .slide{
      text-align: center;

      .feedback-title{
        font-family: 'PT Serif';
        font-size: 46px;
        font-style: italic;
        color: #FFE200;
        margin-bottom:15px;
        
      }
      .feedback-text{
        padding: 0 15%;
        margin-bottom: 15px;
      }
      .feedback-author{
        font-family: 'PT Serif';
        font-size: 20px;
      }
    }

    .prev{
      @include arrow('prev.png'){
        left:0;
      }
    }
    .next{
      @include arrow('next.png'){
        right: 0;
      }
    }

  }
  
}



// Modules
@import "modules/header";
