-var links = ['faq', 'help', 'privacy', 'term']
footer
  .container
    .row
      .col-12
        a.logo(href="#") SLIYP
        ul.footer-nav
          each link in links
            li
              a.nav-link(href='#')= link