-var links = ['home', 'about', 'package', 'trip', 'testimony', 'blog', 'talk to us']
header
  .container
    nav
      .row
        .col-md-3
          a.logo(href="#") SLIYP
        .col-md-9
          ul.menu
            each link in links
              li
                a.nav-link(href='#')= link
    .hero-text
      span ENJOY YOUR
      h1 HONEYMOON
      span LEAVE THE REST TO US