section.about
    .container
        .row
            .col-xs-12.col-md-7
                .about-text
                    h2 More Than 20 years of Experience
                    p.italic Ngga ada itu dua puluh tahun, baru bikin aja ini,
                            | gaya gayaan aja buat nipu kalian
                    p.card-text Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu, eu melius constituam sit. Et nam soleat accusamus. Vim hinc aeque viderer no, ei aeque viris euismod quo. Id qui altera equidem.
            .col-xs-12.col-md-5
                .about-media
                    .img-wrap.block
                        img.responsive-img(src='assets/img/about-pic-1.jpg')
                    .img-wrap.block
                        img.responsive-img(src='assets/img/about-pic-2.jpg')

