- var titles = ['Luxury Paradise', 'Deluxe Gold', 'Premium Silver']
section.package
    .container
        .row
            + heading('OUR PACKAGE','Jangan Percaya Tipu Tipu Aja Ini')
        .row
            each title in titles
                .col-sm-12.col-md-4
                    + card(title)