section.package
    .container
        .row
            + heading('OUR PACKAGE','Jangan Percaya Tipu Tipu Aja Ini')
        .row
            + card('Luxury Paradise')
            + card('Deluxe Gold')
            + card('Premium Silver')