section.subscribe
    .container
        .row.justify-content-center
            .col-md-8
                div Subsribe to our newsletter for deal & promo
                form.subscribe-form
                    input(type='text' placeholder='Youremail@address.com')
                    button.btn SUBSCRIBE