section.testimony
    .container
        .row
            +heading('TESTIMONY', 'Yang Bagus Bagusnya Aja yg Dibilangin')
        .row
            .carousel
                .slide
                    .feedback
                        .feedback-title “Our honeymoon just awesome”
                        .feedback-author Robert & Jane

                .slide
                    .feedback
                        .feedback-title “Fantastic job, well done”
                        .feedback-author Robert & Jane
                .slide
                    .feedback
                        .feedback-title “Memories for whole life”
                        .feedback-author Robert & Jane
