section.testimony
    .container
        .row
            +heading('TESTIMONY', 'Yang Bagus Bagusnya Aja yg Dibilangin')
        .row
            .carousel
                .slide
                    .feedback
                        .feedback-title “Our honeymoon just awesome”
                        .feedback-text Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu.
                        .feedback-author Robert & Jane

                .slide
                    .feedback
                        .feedback-title “Fantastic job, well done”
                        .feedback-text Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu.
                        .feedback-author Robert & Jane
                .slide
                    .feedback
                        .feedback-title “Memories for whole life”
                        .feedback-text Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu.
                        .feedback-author Robert & Jane
