section.trips
    .container
        .row
            +heading('FEATURED TRIP','Sama aja ini semua g ada beda')

        .row
            .col-xs-12.col-md-12
                .block
                    .block-inner
                        img.responsive-img(src='assets/img/trip-pic-1.jpg')
                        .trip-info
                            .trips-info-inner
                                +heading('Luxury Greece','6 Days 5 Night')
                                p.trip-text
                                    | Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu, eu melius constituam sit. Et nam soleat accusamus. Vim hinc aeque viderer no.
                                a.page-link(href='#') View Details >

        .row
            .col-md-6
                .block
                    .trip-img-wrap
                        img.responsive-img(src='assets/img/trip-pic-2.jpg')

                + small-heading('Belgia Village','3 Days 2 Night')
                p.trip-text.text-center
                    | Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu, eu melius constituam sit. Et nam soleat accusamus. Vim hinc aeque viderer no.
            .col-md-6
                .block
                    .trip-img-wrap
                        img.responsive-img(src='assets/img/trip-pic-3.jpg')

                + small-heading('Middle East Paradise','6 Days 5 Night')
                p.trip-text.text-center
                    | Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu, eu melius constituam sit. Et nam soleat accusamus. Vim hinc aeque viderer no.
        .row
            .dest-btn-wrap
                a.btn(href='#') View more destinations
