mixin heading(title, descr)
  .col-12.text-center
    .top-line
      h2= title
      p.italic= descr


mixin card(title)
  .col-sm-12.col-md-4
    .card
      h3= title
      p.card-text Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu.
