%btn{
  border: 2px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
}

%text-field{
  @include size(460px, 60px);
  font-family:'Heebo-Regular';
  background-color: lighten($primary-color, 10%);
  border: 0;
  outline: none;
  padding-left:20px;
  margin-bottom:20px;

  &::-webkit-input-placeholder {
    color: #fff;
  }
}
