$sizes: 100, 70, 32, 28;
$line-height: 147, 76, 38, 34;

@for $i from 1 through length($sizes) {
  h#{$i}{
    font-size: #{nth($sizes, $i)}px;
    font-family: 'Heebo-Thin';
    font-weight:500;
    line-height: #{nth($line-height, $i)}px;
    color: #000;
    margin: 0;
  }
}


p{
  font-size:16px;
  line-height:24px;
}

a { text-decoration: none; }