$imgPath: '../../assets/img/';

// Font
$mainFont                : 'Heebo', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #000;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.6;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #000;
$primary-color           : #EE2655;



