header{
  @include size(100%, 100vh);
  background-image: url($imgPath + 'hero.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment:fixed;
  padding-top:40px;
  position: relative;

  nav{
    padding:15px;
    background-color: #fff;

    .logo{
      font-family: 'Heebo-Light';
      font-size:24px;
      color: $default-color;
    }

    .menu{

      float: right;

      li{
        display: inline-block;
        margin-right: 15px;

        &:last-child{
          margin-right: 0;
        }

        .links{
          font-family: 'Heebo-Regular';
          font-size: 14px;
          line-height:38px;
          text-transform: uppercase;
          color: $default-color;

          &:hover{
            color: $primary-color;
          }

          &.active{
            color: $primary-color;
          }

        }
      }

    }
  }

  .hero-text{
    color: #fff;
    position: absolute;
    left: 0;
    top:70%;
    width:100%;
    text-align: center;
    transform: translateY(-70%);
    
    h1{
      color: #fff;
      margin: 0;
    }
    span{
      font-family: 'Heebo-Light';
      font-size:24px;
      letter-spacing: 2px;
    }
  }





}